<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-influxdb-v2-index") %>>
          <a href="/docs/providers/influxdb-v2/index.html">InfluxDB V2 Provider</a>
        </li>

        <li<%= sidebar_current("docs-influxdb-v2-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-influxdb-v2-resource-bucket") %>>
              <a href="/docs/providers/influxdb-v2/r/bucket.html">bucket</a>
            </li>
            <li<%= sidebar_current("docs-influxdb-v2-resource-authorization") %>>
              <a href="/docs/providers/influxdb-v2/r/authorization.html">authorization</a>
            </li>
        </ul>
        </li>

        <li<%= sidebar_current("docs-influxdb-v2-datasource") %>>
          <a href="#">Data sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-influxdb-v2-datasource-ready") %>>
              <a href="/docs/providers/influxdb-v2/d/ready.html">ready</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>